.baikal__content-text {
    max-width: 360px;
    margin: 0 auto;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

@media (max-width: 486px) {
    .baikal__content-text {
        font-size: 15px;
        max-width: 270px;
    }
}

@media (max-width: 360px) {
    .baikal__content-text {
        font-size: 12px;
        max-width: 270px;
        line-height: 15px;
    }
}

@media (max-width: 320px) {
    .baikal__content-text {
        font-size: 14px;
        line-height: 16px;
        max-width: 270px;
    }
}