.footer__name {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: white;
}

@media (max-width: 610px) {
    .footer__name {
        margin-top: 48px;
    }
}

@media (max-width: 468px) {
    .footer__name {
        margin-top: 30px;
        font-size: 12px;
    }
}