.footer__name {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: white;
}

@media (max-width: 470px) {
    .footer__name {
        font-size: 10px;
    }
}

@media (max-width: 350px) {
    .footer__name {
        font-size: 7px;
        line-height: 14px;
    }
}

@media (max-width: 320px) {
    .footer__name {
        line-height: 14px;
        margin: 48px 0 0;
    }
}