@import url("__wrapper/header__wrapper.css");
@import url("__logo/header__logo.css");
@import url("__languages/header__languages.css");
@import url("__language/header__language.css");
@import url("__language/_active/header__language_active.css");

.header {
    height: fit-content;
    max-width: 1184px;
    width: 100%;
    margin: 0 auto 56px;
}

@media (max-width: 1024px) {
    .header {
        max-width: 928px;
        margin: 0 auto 48px;
    }
}

@media (max-width: 768px) {
    .header {
        max-width: 720px;
        margin: 0 auto 48px;
    }
}

@media (max-width: 320px) {
    .header {
        max-width: 288px;
        margin: 0 auto 48px;
        height: fit-content;
    }
}