@import url("__title/description__title.css");
@import url("__text/description__text.css");
@import url("__objects/desctiption__objects.css");

.description {
    max-width: 690px;
    width: 100%;
    margin: 0 0 92px 148px;
    color: white;
}

@media (max-width: 1024px) {
    .description {
        margin: 0 0 92px 48px;
    }
}

@media (max-width: 768px) {
    .description {
        margin: 0 0 88px 24px;
    }
}

@media (max-width: 720px) {
    .description {
        max-width: 500px;
    }
}

@media (max-width: 528px) {
    .description {
        max-width: 300px;
    }
}

@media (max-width: 320px) {
    .description {
        margin: 0 auto 64px;
    }
}