.baikal__content-header {
    max-width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0 auto;
    align-self: end;
}

@media (max-width: 486px) {
    .baikal__content-header {
        font-size: 50px;
        line-height: 45px;
    }
}

@media (max-width: 360px) {
    .baikal__content-header {
        font-size: 40px;
    }
}

@media (max-width: 320px) {
    .baikal__content-header {
        font-size: 32px;
        line-height: 35px;
        max-width: 250px;
    }
}