@import url("__content/baikal__content.css");

.baikal {
    display: flex;
    margin: 0 auto 92px;
    background-image: url("../../assets/baikal__background.png");
    background-size: cover;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-position: center;
    max-width: 1184px;
    max-height: 740px;
}

@media (max-width: 768px) {
    .baikal {
        margin: 0 auto 88px;
    }
}

@media (max-width: 468px) {
    .baikal {
        margin: 0 auto 62px;
    }
}